name: SIMPLE PROXY Updater

on:
  schedule:
    - cron: '*/5 * * * *'   # every 5 minutes
  workflow_dispatch:

jobs:
  update-proxies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 colorama

      - name: Download updater.py
        run: curl -s -L ${{ secrets.UPDATER_URL }} -o updater.py

      - name: Download config.json
        run: curl -s -L ${{ secrets.CONFIG }} -o config.json

      - name: Run Proxy Updater
        run: python updater.py > proxy_output.txt 2>&1

      - name: Commit proxy file
        run: |
          git config --local user.email ${{ secrets.GIT_EMAIL }}
          git config --local user.name ${{ secrets.GIT_NAME }}
          git add proxy.txt
          git commit -m "Update proxies" || echo "No changes"
          git push
